<Progress Class="mb-3">
    <ProgressBar @ref="progressBar" Width="30" Label="30%" />
</Progress>


<Button Type="@ButtonType.Button" Color="BsColor.Success" Size="ButtonSize.Small" @onclick="() => SetColor(BsColor.Success)">Set Color</Button>
<Button Type="@ButtonType.Button" Color="BsColor.Info" Size="ButtonSize.Small" @onclick="() => SetColor(BsColor.Info)">Set Color</Button>
<Button Type="@ButtonType.Button" Color="BsColor.Warning" Size="ButtonSize.Small" @onclick="() => SetColor(BsColor.Warning)">Set Color</Button>
<Button Type="@ButtonType.Button" Color="BsColor.Danger" Size="ButtonSize.Small" @onclick="() => SetColor(BsColor.Danger)">Set Color</Button>
<Button Type="@ButtonType.Button" Color="BsColor.Primary" Size="ButtonSize.Small" @onclick="() => SetColor(BsColor.Primary)">Set Color</Button>
<Button Type="@ButtonType.Button" Color="BsColor.Secondary" Size="ButtonSize.Small" @onclick="() => SetColor(BsColor.Secondary)">Set Color</Button>
<Button Type="@ButtonType.Button" Color="BsColor.Dark" Size="ButtonSize.Small" @onclick="() => SetColor(BsColor.Dark)">Set Color</Button>

@code {
    ProgressBar progressBar = default!;
    private void SetColor(BsColor color) => progressBar.Color = color;
}
